body {
  background-color: #000000;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

h1 {
  margin: 0;
  font-size: 48px;
  line-height: 52px;
  color: white;
}

p {
  color: #888888;
  font-size: 16px;
  font-weight: 200;
  margin: 10px 0 0 0;
}

div {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a {
  background-color: #0A0A0A;
  border: 1px solid #252525;
  color: #888888;
  text-decoration: none;
  margin: 20px 0 0 0;
  font-size: 0.875rem;
  padding: 11px 25px 11px 25px;
  font-weight: 300;
  border-radius: 100px;
  transition-property: background-color;
  transition-duration: .15s;
  transition-timing-function: ease;

  &:hover {
    background-color: #252525;
  }
}

.material-symbols-outlined {
  vertical-align: -2px;
  font-size: 14px;
}